body{
	margin: 0;
	background: #313131;

	h1{
		color: #ffffff; 
		font-family: 'Noto Sans', sans-serif;
	}

	.header {
		width: 100vw;
		top: 40vh;

		display: flex;
		justify-content: center;

		position: absolute;
	}



	.nav-bar {
		width: 10vw;
		height: 100vh;
		background: orange;
	}

}